.tray{
    background-color: rgb(199,242,235);
}

.tray__row{
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.row__elmn{
    font-size : 15px ;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.row__elmn:hover{
    transform: scale(1.1);
}

@media (max-width : 1080px) {
    .tray{
        display: none;
    }
}